/* Container for the entire options section */
.postsOptions-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Search form styling */
.search-post form {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 15px;
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  min-width: 120px;
}

/* Radio buttons styling */
input[type="radio"] {
  margin-right: 5px;
}

label {
  margin-right: 15px;
  font-size: 16px;
  color: #555;
}

/* Text input styling */
input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Search button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
